@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "futura-pt", "Futura", Futura, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
  color: black;
  font-family: "Futura", Futura, Helvetica, sans-serif;
}

h1 {
  font-size: 2vh;
}

.art-title {
  font-family: "futura-pt", "Futura", Futura, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* ////////////////////////////////// */
#menu {
  border: 1px solid black;
  margin: 10px;
}

#nav {
  display: flex;
  direction: row;
  align-items: center;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

#nav > div {
  padding: 15px 20px 10px 20px;
}

#header-title {
  font-size: 4vh;
}
/* ////////////////////////////////// */

/* ////////////////////////////////// */
#main-container {
  margin: 0 10vw;
  /* border: 1px solid black; */
  display: flex;
  direction: column;
  justify-content: left;
}

#center-container {
  margin: 0 1vw;
  display: flex;
  direction: column;
  justify-content: center;
}

.sub-header {
  width: 80vw;
}

.sub-container {
  flex-wrap: wrap;
  justify-content: left;
}

.series-card {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 200px;
}

.contact {
  width: 500px;
}

.series-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ------------------------------------ */
/* Large image section                  */
/* ------------------------------------ */

.big-art-container {
  /* border: 1px solid pink; */
  padding: 1px;
  margin: 2em 0;
  width: 100%;
}

.big-art {
  /* border: 1px solid green; */
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 4em 0;
  border-bottom: 1px dotted black;
}

.big-art-img-container {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
  margin-bottom: 2em;
}

.big-art-img-container img {
  max-width: 100%;
  max-height: 100%;
}

.big-art-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.wall-label {
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}


/* ------------------------------------ */

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  color: black; /* Change arrow color to black */
}
/* 
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
} */


@media screen and (max-width: 800px) {
  .big-art {
    height: 60vh;
  }
  .contact {
    max-width: 80vw;
  }

}