@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
  font-family: "Courier Prime", Courier, 'Courier New', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 10vh;
}

header>h1{
  font-size: 15vh;
  align-items: center;
  text-align: center;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%; /* Assuming full width */
  height: 15%;
}
